<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <!-- الصلاحيات -->
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.CALL_PHONE" />

  <!-- required for url_launcher queries (API 30+) -->
  <queries>
    <!-- دعم الاتصال -->
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="tel" />
    </intent>

    <!-- دعم الرسائل -->
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="sms" />
    </intent>

    <!-- دعم الواتساب والمتصفح -->
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="https" />
    </intent>

    <!-- custom tabs (مستعمل في بعض المكتبات) -->
    <intent>
      <action android:name="android.support.customtabs.action.CustomTabsService" />
    </intent>

    <!-- دعم النصوص داخل Flutter -->
    <intent>
      <action android:name="android.intent.action.PROCESS_TEXT"/>
      <data android:mimeType="text/plain"/>
    </intent>
  </queries>

  <application
      android:label="IAndC"
      android:name="${applicationName}"
      android:icon="@mipmap/ic_launcher">

    <activity
        android:name=".MainActivity"
        android:exported="true"
        android:launchMode="singleTop"
        android:taskAffinity=""
        android:theme="@style/LaunchTheme"
        android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
        android:hardwareAccelerated="true"
        android:windowSoftInputMode="adjustResize">

      <meta-data
          android:name="io.flutter.embedding.android.NormalTheme"
          android:resource="@style/NormalTheme"/>

      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <!-- مهم لـ Flutter -->
    <meta-data
        android:name="flutterEmbedding"
        android:value="2" />
  </application>
</manifest>
